<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <% if @user[:company_name] %>
         <h1>Welcome to Ryve, <%= @user.company_name %></h1>
      <% else %>
         <h1>Welcome to Ryve, <%= @user.first_name + " " + @user.last_name %></h1>
      <% end %>
      
      <p>
         You have successfully signed up to Ryve,your code is: 
         <%= @user.verification_code %>.<br>
      </p>
      
      <p>Thanks for joining and have a great day!</p>
      
   </body>
</html>